<div id="flappyDuck">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <h1 id="title">Flappy Game</h1>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <div id="gamePlay">
                            <canvas id="gameCanvas"></canvas>
                        </div>
                        <div class="userBtn">
                            <ul>
                                <li>
                                    <input type="button" id="startBtn" v-on:mousedown="jump(-0.2)" v-on:mouseup="jump(0.05)" v-on:touchend="jump(0.05)" v-on:touchstart="jump(-0.2)" :disabled="disableBtnJump" value="Jump">
                                </li>
                                <li><input type="button" id="startBtn" value="Start Game" v-on:click="startGame()" :disabled="disableBtnStart"></li>
                            </ul>
                            <h4 class="alert" id="alert" style="color: red;"></h4>
                        </div>
                    </div>
                    <div class="col-sm-6" id="highScore">
                        <h2>High Score Top 50</h2>
                        <table id="tableScore">
                            <thead id="headTable">
                                <tr>
                                    <td>No.</td>
                                    <td>Name</td>
                                    <td>Score</td>
                                </tr>
                            </thead>
                            <tbody id="bodyTable">
                                <tr v-for="(score,index) in allScore.Data">
                                    <td>{{index+1}}</td>
                                    <td>{{score.username}}</td>
                                    <td>{{score.score}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>