#flappyduck {
    overflow: hidden;
}

#gameCanvas {
    width: 100%;
    background-image: url('../../../assets/image/download.png');
    background-size: 100% 100%;
    border: 1px solid black;
    margin: 10px 0px;
}

.titleCollection {
    text-align: center;
    font-size: 50pt;
    font-weight: 500;
}

#headTable {
    background-color: dodgerblue;
}

#headTable tr th {
    color: white;
}

#bodyTable tr:nth-child(even) {
    background-color: #f2f2f2;
}

#bodyTable tr:nth-child(even):hover {
    background-color: #f2f2f2;
}

#bodyTable tr:nth-child(odd):hover {
    background-color: white;
}