.gameContainer{
  margin: 100px 20px;
}
.gameList li{
  margin: 0px 10px;
  /* color: white; */
}
.gameList li a{
  color: white;
}
.pagination{
  margin: 10px 10px;
}

@media (max-width: 425.98px) {
  .gameContainer{
    margin: 100px 0px;
  }
  .gameList li{
    margin: 10px 10px;
    /* color: white; */
  }
}
@media (min-width: 500.98px){
  .gameContainer{
    margin: 100px 0px;
  }
}