.titleCollection {
    text-align: center;
    font-size: 50pt;
    font-weight: 500;
}

.gameList {
    margin: 20px 0px;
}

.btnPlay {
    margin-top: 130px;
}

#loader {
    position: fixed;
    top: 45%;
    left: 45%;
}