<div class="collectionPage">
    <div class="container">
        <div class="row">
            <div class="col-4 game">
                <img src="../../assets/image/canon-1600616-1356945.png" alt="Tidak memuat" width="60" height="60">
                <br>
                <a href="/canonGame">
                    <button class="btn btn-danger" type="button">
                        Play game
                    </button>
                </a>
            </div>
            <div class="col-4 game">
                <img src="../../assets/image/325-3254134_in-tribute-to-rivka-begun-coming-soon-icon-png.png" alt="Tidak memuat" width="60" height="60">
                <br>
                <a href="#">
                    <button class="btn btn-danger" type="button">
                        Play game
                    </button>
                </a>
            </div>
            <div class="col-4 game">
                <img src="../../assets/image/325-3254134_in-tribute-to-rivka-begun-coming-soon-icon-png.png" alt="Tidak memuat" width="60" height="60">
                <br>
                <a href="#">
                    <button class="btn btn-danger" type="button">
                        Play game
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>
