<div class="collectionPage">
    <v-container v-if="!loadPage">
        <h1 class="titleCollection">{{t('CollectionMenu')}}</h1>
        <v-row justify="center" class="gameList">
            <v-col v-for="(menulist,n) in menu.Data" :key="n" cols="auto">
                <a :href="menulist.gameUrl">
                    <v-card :elevation="n - 1" height="200px" width="200px" class="secondary ">
                        <v-card-actions class="justify-center">
                            <v-btn color="primary" rounded class="btnPlay" v-if="menulist.gameName !== 'coming soon'">{{menulist.gameName}}</v-btn>
                            <v-btn color="primary" rounded class="btnPlay" v-if="menulist.gameName === 'coming soon'">{{t('ComingSoon')}}</v-btn>
                        </v-card-actions>
                    </v-card>
                </a>
            </v-col>
        </v-row>

        <div class="text-center">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item ">
                        <a class="page-link" href="#">Previous</a>
                    </li>
                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </v-container>

    <div class="text-center" id="loader" v-if="loadPage">
        <v-progress-circular :size="100" :width="10" color="primary" indeterminate></v-progress-circular>
    </div>
</div>