.gameContainer{
  margin: 100px 20px;
}
.gameList li{
  margin: 0px 10px;
}
.gameList li a{
  color: white;
}
.pagination{
  margin: 10px 10px;
}

@media (max-width: 425.98px) {
  .gameContainer{
    margin: 100px 0px;
  }
  .gameList{
    margin-top: 100px;
  }
  .gameList li{
    margin: 10px 10px;
  }
  .pagination{
    margin: 10px 10px;
  }
}
@media (min-width: 500.98px){
  .gameContainer{
    position: relative;
    top: 100px;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin: 100px 0px;
  }
}