<div class="collectionPage">
    <div class="container gameContainer">
        <div class="row gameRow">
            <div class="col-4 game">
                <div class="card text-center" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Cannon Game</h5>
                        <img src="../../assets/image/canon-1600616-1356945.png" alt="Tidak memuat" width="60"
                            height="60">
                        <br>
                        <a href="#" class="btn btn-primary">Play Game</a>
                    </div>
                </div>
            </div>
            <div class="col-4 game">
                <div class="card text-center" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Coming Soon</h5>
                        <img src="../../assets/image/325-3254134_in-tribute-to-rivka-begun-coming-soon-icon-png.png"
                            alt="Tidak memuat" width="60" height="60">
                        <br>
                        <a href="#" class="btn btn-primary">Play Game</a>
                    </div>
                </div>
            </div>
            <div class="col-4 game">
                <div class="card text-center" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <img src="../../assets/image/325-3254134_in-tribute-to-rivka-begun-coming-soon-icon-png.png"
                            alt="Tidak memuat" width="60" height="60">
                        <br>
                        <a href="#" class="btn btn-primary">Play Game</a>
                    </div>
                </div>
            </div>

            <!-- <div class="col-4 game">
                <img src="../../assets/image/325-3254134_in-tribute-to-rivka-begun-coming-soon-icon-png.png" alt="Tidak memuat" width="60" height="60">
                <br>
                <a href="#">
                    <button class="btn btn-danger" type="button">
                        Play game
                    </button>
                </a>
            </div> -->
        </div>
    </div>
</div>