<div id="canonGame">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <h1 id="title">Canon Game</h1>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <div id="gamePlay">
                            <canvas id="gameCanvas"></canvas>
                        </div>
                        <div class="userBtn">
                            <ul>
                                <li>Degress: <input type="number" class="inputDeg" id="inputDeg" placeholder="input degress(0-90)" v-on:change="updateCanon()" v-on:keyup="updateCanon()"> </li>
                                <li><input type="button" id="fireBtn" value="Fire" v-on:click="fire()" style="margin-right: 20px;">
                                </li>
                                <li><input type="button" id="startBtn" value="Start Game" v-on:click="startGame()"></li>
                            </ul>
                            <h4 class="alert" id="alert" style="color: red;"></h4>
                        </div>

                    </div>
                    <div class="col-sm-6">
                        <div class="highScores">
                            <h1>Top 10 High Scores</h1>
                            <table class="HighScore" id="highScore">
                                <tr>
                                    <td>No.</td>
                                    <td>Name</td>
                                    <td>Score</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>