body {
	animation: transitionfade 1.5s;
}

/* .navbar .navbar-toggler{
	overflow: hidden;
	display: none;
} */
@media (min-width:1024px){
	ul #posisikanan{
		float: right;
	}
	ul #posisikiri{
		float: left;
	}
}

.filter-control ul li {
    list-style: none;
    display: inline-block;
    font-size: 20px;
    color: black;
    margin-right: 22px;
    position: relative;
    cursor: pointer;
  }

  .product ul li {
    margin-left: 20px;
    list-style: none;
    display: inline-block;
    font-size: 20px;
    color: black;
    margin-right: 22px;
    position: relative;
    cursor: pointer;
  }

  .paginate {
    margin-left: 800px;
  }

#trendingtoday .trendingtoday{
	margin: 0px;
	width: 300px;
}
#logo img {
	width: 70px;
	height: 70px;
	margin: 0px 100px;
}

.trendingtopic {
	position: relative;
	left: 70%;
	margin-top: 0px;
}

.friendlist {
	position: relative;
	left: 70%;
	margin-top: 20px;
}

#containerforum {
	width: 60%;
	height: 530px;
	position: absolute;
	top: 20%;
	left: 5%;
	/* background-color: white; */
	margin-bottom: 200px;
	overflow-y: auto;
}

/* #containerforum .containerlist{
	width: 100%;
	height: 100%;
	overflow: auto;
} */

#containerforum .containerlist .list {
	border: 2px solid #dedede;
	background-color: #f1f1f1;
	border-radius: 5px;
	padding: 10px;
	margin: 10px 0;
}

#demo .btnpost {
	position: relative;
	left: 55%;
	margin: 20px 10px;

}

.container .list .isiforum {
	margin-bottom: 20px;
}

@keyframes transitionfade {
	from {
		opacity: 0;
		transform: rotateX(-10deg);
	}
	to {
		opacity: 1;
		transform: rotateX(0);
	}
}
.steps {
	/* width: 500px; */
	box-shadow: 0px 10px 15px -5px rgba(0, 0, 0, 0.3);
	background-color: #fff;
	padding: 24px 0;
	position: relative;
	margin: 10px 100px;
}

.steps::before {
	content: "";
	position: absolute;
	top: 0;
	height: 24px;
	width: 1px;
	background-color: rgba(0, 0, 0, 0.2);
	left: calc(50px / 2);
	z-index: 1;
}

.steps::after {
	content: "";
	position: absolute;
	height: 13px;
	width: 13px;
	background-color: var(--primary-color);
	box-shadow: 0px 0px 5px 0px var(--primary-color);
	border-radius: 15px;
	left: calc(50px / 2);
	bottom: 24px;
	transform: translateX(-45%);
	z-index: 2;
}

.step {
	padding: 0 20px 24px 50px;
	position: relative;
	transition: all 0.4s ease-in-out;
	background-color: #fff;
}

.step::before {
	content: "";
	position: absolute;
	height: 13px;
	width: 13px;
	background-color: rgb(198, 198, 198);
	border-radius: 15px;
	left: calc(50px / 2);
	transform: translateX(-45%);
	z-index: 2;
}

.step::after {
	content: "";
	position: absolute;
	height: 100%;
	width: 1px;
	background-color: rgb(198, 198, 198);
	left: calc(50px / 2);
	top: 0;
	z-index: 1;
}

.step.minimized {
	background-color: #fff;
	transition: background-color 0.3s ease-in-out;
	cursor: pointer;
}

.header {
	user-select: none;
	font-size: 16px;
	color: rgba(0, 0, 0, 0.6);
}

.subheader {
	user-select: none;
	font-size: 14px;
	color: rgba(0, 0, 0, 0.4);
}

.step-content {
	height: 260px;
	transition: all 0.3s ease-in-out;
	overflow: hidden;
	position: relative;
}

.step.minimized > .step-content {
	height: 0px;
}

.step-content.two {
	height: 50px;
	width: 100%;
	border-radius: 4px;
	margin-top: 10px;
}

.step-content.three {
	height: 50px;
	width: 100%;
	border-radius: 4px;
	margin-top: 10px;
}

.step-content .next-btn {
	position: absolute;
	top: 90%;
	left: 50%;
	border: 0;
	padding: 10px 20px;
	border-radius: 4px;
	background-color: red;
	/* box-shadow: 0 5px 10px -3px rgba(0, 0, 0, 0.3); */
	color: #fff;
	transition: background-color 0.3s ease-in-out;
	cursor: pointer;
	transform: translate(-50%, -50%);
}

.close-btn {
	position: absolute;
	top: 50%;
	left: 50%;
	border: 0;
	padding: 10px 20px;
	border-radius: 4px;
	background-color: rgb(255, 0, 255);
	box-shadow: 0 5px 10px -3px rgba(0, 0, 0, 0.3);
	color: #fff;
	transition: background-color 0.3s ease-in-out;
	cursor: pointer;
	transform: translate(-50%, -50%);
}

/* Irrelevant styling things */
.close-btn:hover {
	background-color: rgba(255, 0, 255, 0.6);
}

.close-btn:focus {
	outline: 0;
}

.next-btn:hover {
	background-color: rgba(255, 0, 0, 0.6);
}

.next-btn:focus {
	outline: 0;
}

.step.minimized:hover {
	background-color: rgba(0, 0, 0, 0.06);
}

a {
	color: white;
}

footer {
	color: white;
}

.list-unstyled li {
	margin: 20px 0px;
	color: white;
	font-size: 15px;
}

.video ul {
	margin: 10px 10px;
}

.video ul li {
	display: inline;
	list-style: none;
	margin: 0px 15px;
}
