.content .populer {
    position: absolute;
    top: 10%;
    left: 60%;
    width: 30%;
    height: auto;
    margin: 50px 50px;
    /* border: 1px solid black; */
}
#background{
    background-color: white;
}

.newsHome .container ul {
    margin: 30px 0px;
}

.newsHome .container .listberita ul li {
    width: 80%;
    height: auto;
    padding: 20px 10px;
}