.container {
    display: flex;
    align-items: center;
    margin-top: 50px;
    
    .box {
      background: #00C851;
      width: 100%;
      transition: width 300ms ease 100ms;
      &:after {
        content: "";
        display: block;
        padding-top: 100%;
      }
      
      &:nth-child(even) {
        background: #007E33;
      }
      
      &:hover {
        width: 150%;
      }
    }
  }