@media (max-width: 425.98px) {

    .container {
        position: relative;
        top: 90%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    section {
        margin: 10px 0px;
        /* margin-bottom: 10px; */
    }

    .judul .text {
        position: relative;
        top: 100px;
        left: 1%;
        font-size: 30pt;
    }

}