@media (max-width: 768.98px){
    .judul .text {
        position: relative;
        top: 100%;
        left: 1%;
        /* -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); */
        font-size: 40pt;
    }
}