<div class="home">
    <div class="container">
        <section class="title">
            <div class="row align-items-center">
                <div class="col-12 col-sm-12">
                    <div class="judul">
                        <span class="text">Make the game even more boring</span>
                    </div>
                </div>
            </div>
        </section>

        <section class="play">
            <div class="row align-items-center">
                <div class="col-12 col-sm-12">
                    <div class="dropdown playGame">
                        <a href="/collection">
                            <button class="btn btn-danger" type="button">
                                Play game
                            </button>
                        </a>
                    </div>
                </div>
            </div>

        </section>
    </div>

</div>