<div class="container">
    <section class="title">
        <div class="row align-items-center">
            <div class="col-12 col-sm-12">
                <div class="judul">
                    <span class="text">The Boring Game</span>
                </div>
            </div>
        </div>
    </section>

    <section class="play">
        <div class="row align-items-center">
            <div class="col-12 col-sm-12">
                <div class="dropdown playGame">
                    <button class="btn btn-danger dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Play game
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <div class="dropdown-item">
                            <div id="demo" class="carousel slide">

                                <!-- Indicators -->
                                <!-- <ul class="carousel-indicators">
                                  <li data-target="#demo" data-slide-to="0" class="active"></li>
                                  <li data-target="#demo" data-slide-to="1"></li>
                                  <li data-target="#demo" data-slide-to="2"></li>
                                </ul> -->

                                <!-- The slideshow -->
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <div class="row listgame">
                                            <div class="col-4 game">
                                                <a href="TheGame/canon.html">
                                                    <img src="../../assets/image/canon-1600616-1356945.png"
                                                        alt="Tidak bisa memuat" width="100" height="100">
                                                    <div class="buttonplay">
                                                        Play
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="col-4 game">
                                                <img src="../../assets/image/325-3254134_in-tribute-to-rivka-begun-coming-soon-icon-png.png"
                                                    alt="Tidak bisa memuat" class="image" width="100" height="100">
                                            </div>
                                            <div class="col-4 game">
                                                <img src="../../assets/image/325-3254134_in-tribute-to-rivka-begun-coming-soon-icon-png.png"
                                                    alt="Tidak bisa membuat" class="image" width="100" height="100">
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div class="carousel-item">
                                    <img src="chicago.jpg" alt="Chicago" width="1100" height="500">
                                  </div>-->

                                </div>

                                <!-- Left and right controls -->
                                <!-- <a class="carousel-control-prev" href="#demo" data-slide="prev">
                                  <span class="carousel-control-prev-icon" style="color: black;"></span>
                                </a>
                                <a class="carousel-control-next" href="#demo" data-slide="next">
                                  <span class="carousel-control-next-icon"></span>
                                </a> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
</div>