<div class="home">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4" id="judul">
                <h1>Make the game even more boring</h1>
            </div>
            <div class="col-sm-8" id="carouselGame">
                <ul>
                    <li>
                        <a href="/canonGame">
                            <div class="profile-card-2"><img src="../../assets/image/canongame.png" class="img img-responsive">
                                <div class="profile-name">Canon game</div>
                                <!-- <div class="profile-username">@johndoesurname</div> -->
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="/flappyduck">
                            <div class="profile-card-2"><img src="../../assets/image/flappyduck.png" class="img img-responsive">
                                <div class="profile-name">Flappy Duck</div>
                            </div>
                        </a>
                    </li>
                    <!-- <li>
                        <div class="profile-card-2"><img src="http://envato.jayasankarkr.in/code/profile/assets/img/profile-2.jpg" class="img img-responsive">
                            <div class="profile-name">JOHN DOE</div>
                        </div>
                    </li> -->
                </ul>

            </div>
        </div>
    </div>

</div>