#home {
    padding-bottom: 50px;
}

#landingSection {
    padding: 10px 0px;
    background-color: #0abcf9;
    background-image: linear-gradient(315deg, #0abcf9 0%, #2c69d1 74%);
}

#contain {
    padding: 60px 0px;
}

#right {
    padding: 100px 150px;
}

#right h1 {
    color: linear-gradient(to bottom right, #fb6704 0%, #bd9170 100%);
    font-weight: 1000;
}

#right p {
    width: 70%;
}

.aboutSection {
    margin: 20px;
    margin-bottom: 50px;
}

.aboutSection h1 {
    text-align: center;
    font-weight: 500;
}

#aboutSection {
    width: 100%;
    height: 100%;
    margin: 20px 0px;
}

.v-item-group {
    padding-right: 10%;
    padding-left: 10%;
}

.iconAbout {
    width: 100%;
    height: 100%;
    padding: 20% 40%;
    background-color: #63a4ff;
    background-image: linear-gradient(315deg, #63a4ff 0%, #83eaf1 74%);
}

.text {
    font-size: 12pt;
    padding: 10px auto;
    text-align: center;
    font-style: Bold;
}